<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create new chat</title>
  </head>
  <body class="newbody">
    <form method="post" action="/chats">
      <h2>Write new chat</h2>
      <hr />
      <input placeholder="Who are you.." name="from" /><br><br>
      <input placeholder="To whom.." name="to" /><br><br>
      <textarea
        placeholder="Write your message here..."
        name="message"
      ></textarea><br><br>
      <button>Create</button>
    </form>
  </body>
</html>
